trunk/src/DBPedia-Navigator/main.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.dllearner.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://server.dllearner.org/" name="DLLearnerWSService">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="def0.xsd" namespace="http://server.dllearner.org/"></xsd:import>
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="def1.xsd" namespace="http://jaxb.dev.java.net/array"></xsd:import>
    </xsd:schema>
  </types>
  <message name="generateID"></message>
  <message name="generateIDResponse">
    <part name="return" type="xsd:int"></part>
  </message>
  <message name="getKnowledgeSources"></message>
  <message name="getKnowledgeSourcesResponse">
    <part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
  </message>
  <message name="getReasoners"></message>
  <message name="getReasonersResponse">
    <part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray"></part>
  </message>
  <message name="getLearningProblems"></message>
  <message name="getLearningProblemsResponse">
    <part xmlns:ns3="http://jaxb.dev.java.net/array" name="return" type="ns3:stringArray"></part>
  </message>
  <message name="getLearningAlgorithms"></message>
  <message name="getLearningAlgorithmsResponse">
    <part xmlns:ns4="http://jaxb.dev.java.net/array" name="return" type="ns4:stringArray"></part>
  </message>
  <message name="getConfigOptions">
    <part name="arg0" type="xsd:string"></part>
    <part name="arg1" type="xsd:boolean"></part>
  </message>
  <message name="getConfigOptionsResponse">
    <part xmlns:ns5="http://jaxb.dev.java.net/array" name="return" type="ns5:stringArray"></part>
  </message>
  <message name="UnknownComponentException">
    <part element="tns:UnknownComponentException" name="fault"></part>
  </message>
  <message name="addKnowledgeSource">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:string"></part>
    <part name="arg2" type="xsd:string"></part>
  </message>
  <message name="addKnowledgeSourceResponse">
    <part name="return" type="xsd:int"></part>
  </message>
  <message name="ClientNotKnownException">
    <part element="tns:ClientNotKnownException" name="fault"></part>
  </message>
  <message name="removeKnowledgeSource">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
  </message>
  <message name="removeKnowledgeSourceResponse"></message>
  <message name="setReasoner">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:string"></part>
  </message>
  <message name="setReasonerResponse">
    <part name="return" type="xsd:int"></part>
  </message>
  <message name="setLearningProblem">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:string"></part>
  </message>
  <message name="setLearningProblemResponse">
    <part name="return" type="xsd:int"></part>
  </message>
  <message name="setLearningAlgorithm">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:string"></part>
  </message>
  <message name="setLearningAlgorithmResponse">
    <part name="return" type="xsd:int"></part>
  </message>
  <message name="learn">
    <part name="arg0" type="xsd:int"></part>
  </message>
  <message name="learnResponse">
    <part name="return" type="xsd:string"></part>
  </message>
  <message name="learnThreaded">
    <part name="arg0" type="xsd:int"></part>
  </message>
  <message name="learnThreadedResponse"></message>
  <message name="getCurrentlyBestConcept">
    <part name="arg0" type="xsd:int"></part>
  </message>
  <message name="getCurrentlyBestConceptResponse">
    <part name="return" type="xsd:string"></part>
  </message>
  <message name="isAlgorithmRunning">
    <part name="arg0" type="xsd:int"></part>
  </message>
  <message name="isAlgorithmRunningResponse">
    <part name="return" type="xsd:boolean"></part>
  </message>
  <message name="setPositiveExamples">
    <part name="arg0" type="xsd:int"></part>
    <part xmlns:ns6="http://jaxb.dev.java.net/array" name="arg1" type="ns6:stringArray"></part>
  </message>
  <message name="setPositiveExamplesResponse"></message>
  <message name="setNegativeExamples">
    <part name="arg0" type="xsd:int"></part>
    <part xmlns:ns7="http://jaxb.dev.java.net/array" name="arg1" type="ns7:stringArray"></part>
  </message>
  <message name="setNegativeExamplesResponse"></message>
  <message name="applyConfigEntryInt">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
    <part name="arg2" type="xsd:string"></part>
    <part name="arg3" type="xsd:int"></part>
  </message>
  <message name="applyConfigEntryIntResponse"></message>
  <message name="applyConfigEntryString">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
    <part name="arg2" type="xsd:string"></part>
    <part name="arg3" type="xsd:string"></part>
  </message>
  <message name="applyConfigEntryStringResponse"></message>
  <message name="applyConfigEntryStringArray">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
    <part name="arg2" type="xsd:string"></part>
    <part xmlns:ns8="http://jaxb.dev.java.net/array" name="arg3" type="ns8:stringArray"></part>
  </message>
  <message name="applyConfigEntryStringArrayResponse"></message>
  <message name="applyConfigEntryBoolean">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
    <part name="arg2" type="xsd:string"></part>
    <part name="arg3" type="xsd:boolean"></part>
  </message>
  <message name="applyConfigEntryBooleanResponse"></message>
  <message name="getConfigOptionValueStringArray">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
    <part name="arg2" type="xsd:string"></part>
  </message>
  <message name="getConfigOptionValueStringArrayResponse">
    <part xmlns:ns9="http://jaxb.dev.java.net/array" name="return" type="ns9:stringArray"></part>
  </message>
  <message name="ConfigOptionTypeException">
    <part element="tns:ConfigOptionTypeException" name="fault"></part>
  </message>
  <message name="getConfigOptionValueString">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
    <part name="arg2" type="xsd:string"></part>
  </message>
  <message name="getConfigOptionValueStringResponse">
    <part name="return" type="xsd:string"></part>
  </message>
  <message name="getConfigOptionValueDouble">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
    <part name="arg2" type="xsd:string"></part>
  </message>
  <message name="getConfigOptionValueDoubleResponse">
    <part name="return" type="xsd:double"></part>
  </message>
  <message name="getConfigOptionValueBoolean">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
    <part name="arg2" type="xsd:string"></part>
  </message>
  <message name="getConfigOptionValueBooleanResponse">
    <part name="return" type="xsd:boolean"></part>
  </message>
  <message name="getConfigOptionValueInt">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
    <part name="arg2" type="xsd:string"></part>
  </message>
  <message name="getConfigOptionValueIntResponse">
    <part name="return" type="xsd:int"></part>
  </message>
  <message name="getAtomicConcepts">
    <part name="arg0" type="xsd:int"></part>
  </message>
  <message name="getAtomicConceptsResponse">
    <part xmlns:ns10="http://jaxb.dev.java.net/array" name="return" type="ns10:stringArray"></part>
  </message>
  <message name="getSubsumptionHierarchy">
    <part name="arg0" type="xsd:int"></part>
  </message>
  <message name="getSubsumptionHierarchyResponse">
    <part name="return" type="xsd:string"></part>
  </message>
  <message name="retrieval">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:string"></part>
  </message>
  <message name="retrievalResponse">
    <part xmlns:ns11="http://jaxb.dev.java.net/array" name="return" type="ns11:stringArray"></part>
  </message>
  <message name="getAtomicRoles">
    <part name="arg0" type="xsd:int"></part>
  </message>
  <message name="getAtomicRolesResponse">
    <part xmlns:ns12="http://jaxb.dev.java.net/array" name="return" type="ns12:stringArray"></part>
  </message>
  <message name="getInstances">
    <part name="arg0" type="xsd:int"></part>
  </message>
  <message name="getInstancesResponse">
    <part xmlns:ns13="http://jaxb.dev.java.net/array" name="return" type="ns13:stringArray"></part>
  </message>
  <message name="getIndividualsForARole">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:string"></part>
  </message>
  <message name="getIndividualsForARoleResponse">
    <part xmlns:ns14="http://jaxb.dev.java.net/array" name="return" type="ns14:stringArray"></part>
  </message>
  <message name="getTriples">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
  </message>
  <message name="getTriplesResponse">
    <part xmlns:ns15="http://jaxb.dev.java.net/array" name="return" type="ns15:stringArray"></part>
  </message>
  <message name="getSubjects">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
    <part name="arg2" type="xsd:string"></part>
    <part name="arg3" type="xsd:int"></part>
  </message>
  <message name="getSubjectsResponse">
    <part xmlns:ns16="http://jaxb.dev.java.net/array" name="return" type="ns16:stringArray"></part>
  </message>
  <message name="init">
    <part name="arg0" type="xsd:int"></part>
    <part name="arg1" type="xsd:int"></part>
  </message>
  <message name="initResponse"></message>
  <message name="stop">
    <part name="arg0" type="xsd:int"></part>
  </message>
  <message name="stopResponse"></message>
  <message name="getComponents"></message>
  <message name="getComponentsResponse">
    <part xmlns:ns17="http://jaxb.dev.java.net/array" name="return" type="ns17:stringArray"></part>
  </message>
  <portType name="DLLearnerWebService">
    <operation name="generateID" parameterOrder="">
      <input message="tns:generateID"></input>
      <output message="tns:generateIDResponse"></output>
    </operation>
    <operation name="getKnowledgeSources" parameterOrder="">
      <input message="tns:getKnowledgeSources"></input>
      <output message="tns:getKnowledgeSourcesResponse"></output>
    </operation>
    <operation name="getReasoners" parameterOrder="">
      <input message="tns:getReasoners"></input>
      <output message="tns:getReasonersResponse"></output>
    </operation>
    <operation name="getLearningProblems" parameterOrder="">
      <input message="tns:getLearningProblems"></input>
      <output message="tns:getLearningProblemsResponse"></output>
    </operation>
    <operation name="getLearningAlgorithms" parameterOrder="">
      <input message="tns:getLearningAlgorithms"></input>
      <output message="tns:getLearningAlgorithmsResponse"></output>
    </operation>
    <operation name="getConfigOptions" parameterOrder="arg0 arg1">
      <input message="tns:getConfigOptions"></input>
      <output message="tns:getConfigOptionsResponse"></output>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
    </operation>
    <operation name="addKnowledgeSource" parameterOrder="arg0 arg1 arg2">
      <input message="tns:addKnowledgeSource"></input>
      <output message="tns:addKnowledgeSourceResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
    </operation>
    <operation name="removeKnowledgeSource" parameterOrder="arg0 arg1">
      <input message="tns:removeKnowledgeSource"></input>
      <output message="tns:removeKnowledgeSourceResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="setReasoner" parameterOrder="arg0 arg1">
      <input message="tns:setReasoner"></input>
      <output message="tns:setReasonerResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
    </operation>
    <operation name="setLearningProblem" parameterOrder="arg0 arg1">
      <input message="tns:setLearningProblem"></input>
      <output message="tns:setLearningProblemResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
    </operation>
    <operation name="setLearningAlgorithm" parameterOrder="arg0 arg1">
      <input message="tns:setLearningAlgorithm"></input>
      <output message="tns:setLearningAlgorithmResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
    </operation>
    <operation name="learn" parameterOrder="arg0">
      <input message="tns:learn"></input>
      <output message="tns:learnResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="learnThreaded" parameterOrder="arg0">
      <input message="tns:learnThreaded"></input>
      <output message="tns:learnThreadedResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="getCurrentlyBestConcept" parameterOrder="arg0">
      <input message="tns:getCurrentlyBestConcept"></input>
      <output message="tns:getCurrentlyBestConceptResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="isAlgorithmRunning" parameterOrder="arg0">
      <input message="tns:isAlgorithmRunning"></input>
      <output message="tns:isAlgorithmRunningResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="setPositiveExamples" parameterOrder="arg0 arg1">
      <input message="tns:setPositiveExamples"></input>
      <output message="tns:setPositiveExamplesResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="setNegativeExamples" parameterOrder="arg0 arg1">
      <input message="tns:setNegativeExamples"></input>
      <output message="tns:setNegativeExamplesResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="applyConfigEntryInt" parameterOrder="arg0 arg1 arg2 arg3">
      <input message="tns:applyConfigEntryInt"></input>
      <output message="tns:applyConfigEntryIntResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
    </operation>
    <operation name="applyConfigEntryString" parameterOrder="arg0 arg1 arg2 arg3">
      <input message="tns:applyConfigEntryString"></input>
      <output message="tns:applyConfigEntryStringResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
    </operation>
    <operation name="applyConfigEntryStringArray" parameterOrder="arg0 arg1 arg2 arg3">
      <input message="tns:applyConfigEntryStringArray"></input>
      <output message="tns:applyConfigEntryStringArrayResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
    </operation>
    <operation name="applyConfigEntryBoolean" parameterOrder="arg0 arg1 arg2 arg3">
      <input message="tns:applyConfigEntryBoolean"></input>
      <output message="tns:applyConfigEntryBooleanResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
    </operation>
    <operation name="getConfigOptionValueStringArray" parameterOrder="arg0 arg1 arg2">
      <input message="tns:getConfigOptionValueStringArray"></input>
      <output message="tns:getConfigOptionValueStringArrayResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
      <fault message="tns:ConfigOptionTypeException" name="ConfigOptionTypeException"></fault>
    </operation>
    <operation name="getConfigOptionValueString" parameterOrder="arg0 arg1 arg2">
      <input message="tns:getConfigOptionValueString"></input>
      <output message="tns:getConfigOptionValueStringResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
      <fault message="tns:ConfigOptionTypeException" name="ConfigOptionTypeException"></fault>
    </operation>
    <operation name="getConfigOptionValueDouble" parameterOrder="arg0 arg1 arg2">
      <input message="tns:getConfigOptionValueDouble"></input>
      <output message="tns:getConfigOptionValueDoubleResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
      <fault message="tns:ConfigOptionTypeException" name="ConfigOptionTypeException"></fault>
    </operation>
    <operation name="getConfigOptionValueBoolean" parameterOrder="arg0 arg1 arg2">
      <input message="tns:getConfigOptionValueBoolean"></input>
      <output message="tns:getConfigOptionValueBooleanResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
      <fault message="tns:ConfigOptionTypeException" name="ConfigOptionTypeException"></fault>
    </operation>
    <operation name="getConfigOptionValueInt" parameterOrder="arg0 arg1 arg2">
      <input message="tns:getConfigOptionValueInt"></input>
      <output message="tns:getConfigOptionValueIntResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
      <fault message="tns:UnknownComponentException" name="UnknownComponentException"></fault>
      <fault message="tns:ConfigOptionTypeException" name="ConfigOptionTypeException"></fault>
    </operation>
    <operation name="getAtomicConcepts" parameterOrder="arg0">
      <input message="tns:getAtomicConcepts"></input>
      <output message="tns:getAtomicConceptsResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="getSubsumptionHierarchy" parameterOrder="arg0">
      <input message="tns:getSubsumptionHierarchy"></input>
      <output message="tns:getSubsumptionHierarchyResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="retrieval" parameterOrder="arg0 arg1">
      <input message="tns:retrieval"></input>
      <output message="tns:retrievalResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="getAtomicRoles" parameterOrder="arg0">
      <input message="tns:getAtomicRoles"></input>
      <output message="tns:getAtomicRolesResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="getInstances" parameterOrder="arg0">
      <input message="tns:getInstances"></input>
      <output message="tns:getInstancesResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="getIndividualsForARole" parameterOrder="arg0 arg1">
      <input message="tns:getIndividualsForARole"></input>
      <output message="tns:getIndividualsForARoleResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="getTriples" parameterOrder="arg0 arg1">
      <input message="tns:getTriples"></input>
      <output message="tns:getTriplesResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="getSubjects" parameterOrder="arg0 arg1 arg2 arg3">
      <input message="tns:getSubjects"></input>
      <output message="tns:getSubjectsResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="init" parameterOrder="arg0 arg1">
      <input message="tns:init"></input>
      <output message="tns:initResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="stop" parameterOrder="arg0">
      <input message="tns:stop"></input>
      <output message="tns:stopResponse"></output>
      <fault message="tns:ClientNotKnownException" name="ClientNotKnownException"></fault>
    </operation>
    <operation name="getComponents" parameterOrder="">
      <input message="tns:getComponents"></input>
      <output message="tns:getComponentsResponse"></output>
    </operation>
  </portType>
  <binding name="DLLearnerWebServicePortBinding" type="tns:DLLearnerWebService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="generateID">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
    </operation>
    <operation name="getKnowledgeSources">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
    </operation>
    <operation name="getReasoners">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
    </operation>
    <operation name="getLearningProblems">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
    </operation>
    <operation name="getLearningAlgorithms">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
    </operation>
    <operation name="getConfigOptions">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="addKnowledgeSource">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="removeKnowledgeSource">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="setReasoner">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="setLearningProblem">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="setLearningAlgorithm">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="learn">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="learnThreaded">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getCurrentlyBestConcept">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="isAlgorithmRunning">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="setPositiveExamples">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="setNegativeExamples">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="applyConfigEntryInt">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="applyConfigEntryString">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="applyConfigEntryStringArray">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="applyConfigEntryBoolean">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getConfigOptionValueStringArray">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
      <fault name="ConfigOptionTypeException">
        <soap:fault name="ConfigOptionTypeException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getConfigOptionValueString">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
      <fault name="ConfigOptionTypeException">
        <soap:fault name="ConfigOptionTypeException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getConfigOptionValueDouble">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
      <fault name="ConfigOptionTypeException">
        <soap:fault name="ConfigOptionTypeException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getConfigOptionValueBoolean">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
      <fault name="ConfigOptionTypeException">
        <soap:fault name="ConfigOptionTypeException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getConfigOptionValueInt">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
      <fault name="UnknownComponentException">
        <soap:fault name="UnknownComponentException" use="literal"></soap:fault>
      </fault>
      <fault name="ConfigOptionTypeException">
        <soap:fault name="ConfigOptionTypeException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getAtomicConcepts">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getSubsumptionHierarchy">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="retrieval">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getAtomicRoles">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getInstances">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getIndividualsForARole">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getTriples">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getSubjects">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="init">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="stop">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
      <fault name="ClientNotKnownException">
        <soap:fault name="ClientNotKnownException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getComponents">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://server.dllearner.org/"></soap:body>
      </output>
    </operation>
  </binding>
  <service name="DLLearnerWSService">
    <port name="DLLearnerWebServicePort" binding="tns:DLLearnerWebServicePortBinding">
      <soap:address location="http://localhost:8181/services"></soap:address>
    </port>
  </service>
</definitions>